<p id="notice"><%= notice %></p>

<p>
  <strong>Reading:</strong>
  <%= @reading.reading %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @reading.time_stamp %>
</p>


<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
